{
    "author": "Name",
    "path": "/path/to/repo/",
    "url": "https://github.com/user/repo",
    "judges": {
        "acr": {
            "id": 0,
            "user": "user_acr"
        },
        "uva": {
            "id": 0,
            "user": "user_uva"
        }
    }
}
